@import 'reset';
@import "variables/global";
@import "themes/dark";
@import "themes/light";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--bg-color);
  color: var(--font-color);
}
